html, body {
  height: 100%;
}
.body{
  background-color: #233000;
  min-width: 320px;
}
.header{
  font-family: 'Lato', sans-serif;

}
.t-1{
  font-size: 9vw;
  color: white;
  font-family: 'Rufina',sans-serif;
  margin-top: 10%;
  font-weight: 400;
  font-style: normal;
  position: relative;
}
.t-2{
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 2vw;
  font-weight: 100;
  font-style: normal;
}
.i-1{
  
  margin-left: 50%;
  margin-top: -28% ;
  margin-right: 5%;
  position: relative;
  
}
.i-2{
  position: relative;
  margin-left: 33%;
  margin-top: -6%;
}
.i-3{
  margin-top: 10%;
}
.t-3{
  color: white;
  font-family: 'Rufina',sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 3%;
  position: relative;
}
.t-4{
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 1vw;
  font-weight: 100;
  font-style: normal;
  margin-top: 3%;
  position: relative;
}
.t-5{
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 1vw;
  font-weight: 100;
  font-style: normal;
  margin-top: -47.5vw;
  margin-left: 65%;
  position: absolute;
}
.i-4{
  margin-left: 65%;
  position: absolute;
  margin-top: -42%;
}
.i-5{
  margin-top: 20%;
}

.parent {
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 8px;
  text-align: center;
}
.t-6{
  color: white;
  font-family: 'Rufina',sans-serif;
  font-weight: 400;
  font-size: 2vw;
}
.t-7{
  color: white;
  font-family: 'Rufina',sans-serif;
  font-weight: 400;
  font-size: 2vw;
}
.t-8{
  color: white;
  font-family: 'Rufina',sans-serif;
  font-weight: 400;
  font-size: 2vw;
}
.t-9{
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}
.t-10{
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}
.t-11{
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

.t-12{
  color: white;
  font-family: 'Rufina',sans-serif;
  font-weight: 400;
  font-size: 5vw;
  text-align: center;
  margin-top: 15%;
}
.t-13{
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: 2vw;
}
.i-12{
  padding-bottom: 10%;
  margin-top: 10%;
  text-align: center;
}





.foo{
  background-color: #FFFFFF;
}
div.container-footer.w-container {
  
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  padding-bottom: 40px;
  padding-top: 70px;
}

div.container-footer.w-container:after {
  clear: both;
  content: " ";
  display: table;
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
}

div.container-footer.w-container:before {
  content: " ";
  display: table;
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
}

div.w-row {
  box-sizing: border-box;
  margin-left: -10px;
  margin-right: -10px;
}

div.w-row:after {
  clear: both;
  content: " ";
  display: table;
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
}

div.w-row:before {
  content: " ";
  display: table;
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
}

div.footer-column.w-clearfix.w-col.w-col-4 {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  width: 33.3333%;
}

div.footer-column.w-clearfix.w-col.w-col-4:after {
  clear: both;
  content: " ";
  display: table;
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
}

div.footer-column.w-clearfix.w-col.w-col-4:before {
  content: " ";
  display: table;
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
}

img.failory-logo-image {
  border-width: 0;
  box-sizing: border-box;
  display: inline-block;
  
  max-width: 100%;
  vertical-align: middle;
}

h3.footer-failory-name {
  box-sizing: border-box;
  color: #000000;
  display: block;
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 1.1em;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 24px;
}

p.footer-description-failory {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: Lato, sans-serif;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: .5px;
  line-height: 1.5em;
  margin-bottom: 16px;
  margin-top: 15px;
}

br {
  box-sizing: border-box;
}

div.footer-column.w-col.w-col-8 {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  width: 66.6667%;
}

div.w-col.w-col-8 {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 66.6667%;
}

div.w-col.w-col-7.w-col-small-6.w-col-tiny-7 {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 58.3333%;
}

h3.footer-titles {
  box-sizing: border-box;
  color: #000000;
  display: block;
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 1.1em;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 24px;
}

p.footer-links {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: Lato, sans-serif;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: .5px;
  line-height: 1.8em;
  margin-bottom: 16px;
  margin-top: 2px;
}

a {
  background-color: transparent;
  box-sizing: border-box;
  color: #000000;
  font-family: Lato, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.2em;
  text-decoration: none;
}

a:active {
  outline: 0;
}

a:hover {
  outline: 0;
}

span.footer-link {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 300;
}

span.footer-link:hover {
  color: #000000;
  font-weight: 400;
}

span {
  box-sizing: border-box;
}

strong {
  box-sizing: border-box;
  font-weight: 700;
}

div.w-col.w-col-5.w-col-small-6.w-col-tiny-5 {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 41.6667%;
}

div.column-center-mobile.w-col.w-col-4 {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 33.3333%;
}

a.footer-social-network-icons.w-inline-block {
  background-color: transparent;
  box-sizing: border-box;
  color: #000000;
  display: inline-block;
  font-family: Lato, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.2em;
  margin-right: 8px;
  margin-top: 10px;
  max-width: 100%;
  opacity: .8;
  text-decoration: none;
}

a.footer-social-network-icons.w-inline-block:active {
  outline: 0;
}

a.footer-social-network-icons.w-inline-block:hover {
  opacity: 1;
  outline: 0;
}

img {
  border-width: 0;
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

p.footer-description {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: Lato, sans-serif;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: .5px;
  line-height: 1.5em;
  margin-bottom: 16px;
  margin-top: 15px;
}

strong.link-email-footer {
  box-sizing: border-box;
  font-weight: 700;
}
.baba{
  font-family: 'Lato', sans-serif;
}